services:
  osm-pipeline:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    image: osm-pipeline:latest
    command: python main.py "conflation-pipeline"

  blob_storage_db_scan:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    command: python main.py "blob-storage-db-scan"

  duckdb_bbox_filtering:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    command: python main.py duckdb-bbox-filtering
