services:
  container-orchestrator:
    env_file:
      - .env
    build:
      context: .
      dockerfile: .docker/Orchestrator.Dockerfile
    image: container-orchestrator:latest
    command: python -m main

  db-scan-blob-storage:
    env_file:
      - .env
    build:
      context: .
      dockerfile: .docker/Query.Dockerfile
    image: db-scan-blob-storage:latest
    command: python benchmark_runner.py --script-id db-scan-blob-storage

  db-scan-postgis:
    env_file:
      - .env
    build:
      context: .
      dockerfile: .docker/Query.Dockerfile
    image: db-scan-postgis:latest
    command: python benchmark_runner.py --script-id db-scan-postgis

  duckdb-bbox-filtering:
    env_file:
      - .env
    build:
      context: .
      dockerfile: .docker/Query.Dockerfile
    image: duckdb-bbox-filtering:latest
    command: python benchmark_runner.py --script-id duckdb-bbox-filtering
