services:
  osm-pipeline:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    image: osm-pipeline:latest
    command: python benchmark_runner.py "conflation-pipeline"

  blob_storage_db_scan:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    image: blob-storage-db-scan:latest
    command: python benchmark_runner.py "blob-storage-db-scan"

  duckdb_bbox_filtering:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    image: duckdb-bbox-filtering:latest
    command: python benchmark_runner.py duckdb-bbox-filtering
