services:
  osm-pipeline:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    image: osm-pipeline:latest
    command: python benchmark_runner.py --script-id conflation-pipeline

  blob-storage-db-scan:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    image: blob-storage-db-scan:latest
    command: python benchmark_runner.py --script-id blob-storage-db-scan

  duckdb-bbox-filtering:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    image: duckdb-bbox-filtering:latest
    command: python benchmark_runner.py --script-id duckdb-bbox-filtering
