services:
  container-orchestrator:
    env_file:
      - .env
    build:
      context: .
      dockerfile: .docker/Orchestrator.Dockerfile
    image: container-orchestrator:latest
    command: python -m main

  blob-storage-db-scan:
    build:
      context: .
      dockerfile: .docker/Query.Dockerfile
    image: blob-storage-db-scan:latest
    command: python benchmark_runner.py --script-id blob-storage-db-scan

  duckdb-bbox-filtering:
    build:
      context: .
      dockerfile: .docker/Query.Dockerfile
    image: duckdb-bbox-filtering:latest
    command: python benchmark_runner.py --script-id duckdb-bbox-filtering
